{% extends 'user/user_nav.html' %}
{% load static %}
{% block body %}

 <section style="background-color:#fff;">
  <marquee class="marquee" behavior="scroll" direction=left" "> </marquee>
<section class="container text-center">
  <h2>Welcome</h2>
  <hr class="hr"> <br>  
<div class="container">
  <div class="row my-4">
    <div class="col">

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm d-flex">
              <a href="{%url 'dashboard:forum'%}">
              <div class="card card-body flex-fill custumcss">
                 <img class="card-img-top" src="{% static 'images/forum.jpg' %}" alt="Notes image">
                <div class="card-body">
            <h5 class="card-title ">
             disscussion Forum
            </h5>
        <p class="hcardP">Have any  doubts or  questions, No problem post your question here and get solution from your friends!</p>
          </div>
              </div>
            </div>

             <div class="col-sm d-flex" >
              <a href="{%url 'dashboard:notessharing'%}">
              <div class="card card-body flex-fill custumcss">
                <img class="card-img-top" src="{% static 'images/notessharing.jfif' %}" alt="trans image">
                <div class="card-body">
            <h5 class="card-title ">
              Notes sharing
            </h5>
             <p class="hcardP">share you notes and E book here and find notes and E books uploaded by  others </p>
          </div>
              </div>
            </div>

          


            
          </div>
        </div>
      </div>
        
    </div>

       <br>       
         

    
           
  </section>
</section>
{% endblock body %}

